<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">

        <div class="8u 12u$(medium) important(medium)">
          <div id="content">

            <!-- Content -->
              <article>

                <h2>2017 Big Screen Bash Donors</h2>
                <p>
                  Thank you to all of our supporters who have donated gifts of $100 or more to our Big Screen Bash!<br/>
                  <b>** Indicates Diamond Donor ($500 or more)</b>
                </p>
                <ul style="list-style-type:disc;">
                  <% donors = CSV.read("./data/donors.csv") %>
                  <% donors.each do |donor| %>
                    <% name = donor[0] %> 
                    <% link = donor[1] %> 
                    <% diamond = donor[2] %> 
                    <% inout = donor[3] %> 

                    <% unless inout == "out" %>
                      <li style="margin-left: 1.5em;">
                        <% if link != "" %>
                          <% if diamond == "true" %>
                            <a href="<%= link %>">
                              <b><%= name %></b>
                            </a>
                            <b>&nbsp **</b>
                          <% else %>
                            <a href="<%= link %>">
                              <%= name %>
                            </a>
                          <% end %>
                        <% else %>
                          <% if diamond == "true" %>
                            <b><%= name %></b>
                            <b>&nbsp **</b>
                          <% else %>
                            <%= name %>
                          <% end %>  
                        <% end %>
                      </li>
                    <% end %>

                  <% end %>
                </ul>

                <br/>
                <a href="index.html" class="button icon fa-home">Home</a>

              </article>

          </div>
        </div>

        <div class="4u 12u$(medium)">
          <div id="sidebar">
            <%= render 'sponsors-sidebar-partial.html.erb' %>
          </div>
        </div>

      </div>
    </div>
  </div>