<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">

        <div class="8u 12u$(medium) important(medium)">
          <div id="content">

            <!-- Content -->
              <article>

                <h2> Big Screen Bash Donors</h2>
                <p>Thank you to all of our supporters who have donated gifts of $100 or more to our Big Screen Bash!</p>
                <p style="color:red"><b>** Indicates Diamond Donor ($500 or more)</b></p>

                <ul style="list-style-type:disc;">
                  <% donors = CSV.read("./data/donors.csv") %>
                  <% donors.each do |donor| %>
                    <% name = donor[0] %> 
                    <% link = donor[1] %> 
                    <% diamond = donor[2] %> 

                    <li style="margin-left: 1.5em;">
                      <% if link != "" %>
                        <% if diamond == "true" %>
                          <a href="<%= link %>">
                            <b style="color:red"><%= name %> **</b>
                          </a>
                        <% else %>
                          <a href="<%= link %>">
                            <%= name %>
                          </a>
                        <% end %>
                      <% else %>
                        <% if diamond == "true" %>
                          <b style="color:red"><%= name %> **</b>
                        <% else %>
                          <%= name %>
                        <% end %>  
                      <% end %>
                    </li>

                  <% end %>
                </ul>

              </article>

          </div>
        </div>

        <div class="4u 12u$(medium)">
          <div id="sidebar">
          
            <!-- Sidebar -->
              <h3>2015 Big Screen Bash Sponsors</h3>

              <% ["Platinum", "Gold", "Silver", "Media", "Table", "Supporting"].each do |sponsor_type| %>
                <div class="row 100%">
                  <div class="12u 12u(medium)">

                    <section class="widget thumbnails box">
                      <h4><%= sponsor_type %> Sponsors</h4>
                      <div class="grid">
                        <div class="row 50%">

                          <% sponsors = CSV.read("./data/sponsors-#{sponsor_type.downcase}.csv") %>
                          <% sponsors.each do |sponsor| %>
                            <% image_file = "#{sponsor[0].downcase}.png" %> 
                            <% link = sponsor[1] %> 

                            <div class="6u">
                              <a href="<%= link %>" class="image fit"><img src="images/sponsors-<%= sponsor_type.downcase %>/<%= image_file %>" alt="" style="border: 1px solid #708090;" /></a>
                            </div>
                          <% end %>

                        </div>
                      </div>
                    </section>

                  </div>
                </div>
              <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>