<!-- Banner -->
  <div id="banner-wrapper">
  	<div id="banner" class="box container">
      
      <div class="row">
        <div class="2u 12u(medium)">
        	<div class="12u"><a href="#" class="image fit">
        		<img src="images/bofa-logo.png" alt="" style="border: 5px solid #ff4486;" /></a>
        	</div>
        </div>
        <div class="10u 12u(medium)" style="font-size: 55%;">
          <h2>A Breath of Fresh Air</h2>
          <p>Serving Louisville, Kentucky and Southern Indiana to improve air quality, lung health, and prevent lung disease by supporting the American Lung Association and clean air initiatives. <a href="about-us.html">About Us</a></p>
        </div>
      </div>

    </div>
  </div>

  <br/>

<!-- Banner -->
  <div id="banner-wrapper">
  	<div id="banner" class="box container">
      
      <div class="row">
      	<div class="12u 12u(medium)">
        	<div class="12u"><a href="#big-screen-bash.html" class="image fit">
      			<img src="images/superparty-postcard.png" alt="" /></a>
      		</div>
      	</div>
      </div>

      <div class="row">
      	<div class="12u 12u(medium)" style="font-size: 55%;">
        	<div class="12u">
      			<p>A Breath of Fresh Air is pleased to announce our 7th annual Big Screen Bash featuring Superheroes in the Movies to benefit American Lung Association.  Each year this event raises significant funds in support of the American Lung Association.</p>
      		</div>
      	</div>
      </div>

      <div class="row">
        <div class="6u 12u(medium)">
            <a href="#" class="button big icon fa-arrow-circle-right">Ok! Let's go</a>
        </div>
        <div class="6u 12u(medium)">
            <a href="#" class="button alt big icon fa-question-circle">More info</a>
        </div>
      </div>

    </div>
  </div>

<!-- Main -->
	<div id="features-wrapper">
		<div class="container">
			<div class="row 175%">
				<div class="12u 12u(medium)">

					<section class="widget thumbnails box">
						<h2>Our Clean Air and Healthy Lung Partners</h2>
						<div class="grid">
							<div class="row 50%">

								<% partners = [ \
										["american-lung-association", \
											"http://www.lung.org/associations/states/kentucky/index.html"], \
										["botanica", \
											"http://waterfrontgardens.org/"], \
										["cellar-door-choclates", \
											"http://www.instituteforhealthyairwaterandsoil.org/"], \
										["center-for-interfaith-relations", \
											"http://www.centerforinterfaithrelations.org/"], \
										["institute-for-healthy-air-water-and-soil", \
											"http://www.instituteforhealthyairwaterandsoil.org/"], \
										["league-of-mascots-louisville", \
											"http://www.instituteforhealthyairwaterandsoil.org/"] \
										] %>		
								<% partners.each do |partner| %>
									<div class="2u"><a href="<%= partner[1] %>" class="image fit">
										<img src="images/partners/<%= partner[0] %>.png" alt="" style="border: 1px solid #708090;" /></a>
									</div>
								<% end %>

							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>

<!-- Features -->
	<div id="features-wrapper">
		<div class="container">
			<div class="row">
				<% ["Platinum", "Gold"].each do |sponsor_type| %>
					<div class="6u 12u(medium)">

						<section class="widget thumbnails box">
							<h2><%= sponsor_type %> Sponsors</h2>
							<div class="grid">
								<div class="row 50%">

									<% sponsors = CSV.read("./data/sponsors-#{sponsor_type.downcase}.csv") %>
									<% sponsors.each do |sponsor| %>
										<% image_file = "#{sponsor[0].downcase}.png" %> 
										<% link = sponsor[1] %> 

										<div class="2u">
											<a href="<%= link %>" class="image fit"><img src="images/sponsors-<%= sponsor_type.downcase %>/<%= image_file %>" alt="" style="border: 1px solid #708090;" /></a>
										</div>

									<% end %>

								</div>
							</div>
						</section>

					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div id="features-wrapper">
		<% ["Silver", "Media", "Table", "Supporting"].each do |sponsor_type| %>
			<div class="container">
				<div class="row 175%">
					<div class="12u 12u(medium)">

						<section class="widget thumbnails box">
							<h2><%= sponsor_type %> Sponsors</h2>
							<div class="grid">
								<div class="row 50%">

									<% sponsors = CSV.read("./data/sponsors-#{sponsor_type.downcase}.csv") %>
									<% sponsors.each do |sponsor| %>
										<% image_file = "#{sponsor[0].downcase}.png" %> 
										<% link = sponsor[1] %> 

										<div class="2u">
											<a href="<%= link %>" class="image fit"><img src="images/sponsors-<%= sponsor_type.downcase %>/<%= image_file %>" alt="" style="border: 1px solid #708090;" /></a>
										</div>

									<% end %>

								</div>
							</div>
						</section>

					</div>
				</div>
			</div>
		<% end %>
	</div>

<!-- Main -->
	<div id="main-wrapper">

		<div class="container">
			<div class="row 200%">
				<div class="4u 12u(medium)">

					<!-- Sidebar -->
						<div id="sidebar">
							<section class="widget thumbnails">
								<h3>A Grid!</h3>
								<div class="grid">
									<div class="row 50%">
										<div class="6u"><a href="#" class="image fit">
											<img src="images/partners/pic04.jpg" alt="" /></a>
										</div>
										<div class="6u"><a href="#" class="image fit">
											<img src="images/partners/pic05.jpg" alt="" /></a>
										</div>
										<div class="6u"><a href="#" class="image fit">
											<img src="images/partners/pic06.jpg" alt="" /></a>
										</div>
										<div class="6u"><a href="#" class="image fit">
											<img src="images/partners/pic07.jpg" alt="" /></a>
										</div>
									</div>
								</div>
							</section>
						</div>

				</div>
				<div class="8u 12u(medium) important(medium)">

					<!-- Content -->
						<div id="content">
							<section class="last">
								<h2>So what's this all about?</h2>
								<p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a href="http://html5up.net">HTML5 UP</a>.
								Verti is released under the <a href="http://html5up.net/license">Creative Commons Attribution license</a>, so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p>
								<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>
								<a href="#" class="button icon fa-arrow-circle-right">Continue Reading</a>
							</section>
						</div>

				</div>
			</div>
		</div>
	</div>