<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div id="content">

        <h2>Raffle</h2>
        <p>
          Below are some of the exciting items that will be raffled off at this year's event!  <!--Tickets are $10 each and the drawing will be on Saturday, October 3, 2015 at 10:15 PM.  Please keep checking back as we add new items.-->
        </p>
        <br/>

        <!-- Content -->
          <article>
            <section class="widget thumbnails">
              <div class="grid">
                <% raffle_items = CSV.read("./data/raffle-items.csv") %>
                <% raffle_items.each do |item| %>
                  <% title = item[0] %> 
                  <% image_file = "#{item[1]}.png" %> 
                  <% description = item[2] %> 
                  <% value = item[3] %>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/raffle-items/<%= image_file %>" alt="<%= "#{title}" %>" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="9u" style="line-height: 160%;">
                      <h3><%= "#{title}" %></h3>
                      <p><i><%= "Value: #{value}" %></i></p>
                      <br/>
                      <p><%= description %></p>
                    </div>
                  </div>

                <% end %>
              </div>
            </section>
          </article>

      </div>
    </div>
  </div>